mixin btn(o = {})
  - var isArrow = o.arrow ? '_arrow ' : '';
  - var className = isArrow + o.className|| ''

  if o.href
    a.btn(
    class=`${className}`,
    href=`${o.href}`,
    target=o.target || false)&attributes(o.attributes || {})
      span.btn__text #{o.title}
  else
    button.btn(
    class=`${className}`,
    type=o.type === 'submit' ? false : (o.type || 'button'),
    disabled=!!o.disabled)&attributes(o.attributes || {})
      span.btn__text #{o.title}
