mixin s-intro(o = {})

  +b.SECTION.s-intro
    +e.image(src=`${ROOT_FOLDER}/${IMAGES_FOLDER}/${o.overlay}.jpg` alt=`${o.title}` data-object-fit='cover' data-object-position='center')
    +e.wrapper
      .container
        +e.inner
          +e.H1.title._light._fwlight #{o.title}
          if o.subtitle
            +e.H4.subtitle._light._slim #{o.subtitle}
