mixin s-default(o = {})

  +b.SECTION.s-default(class=`${o.className || ''}`)
    .container
      +e.wrapper
        if o.top
          +e.top(class=`${o.top.className || ''}`)
            if o.top.title
              +e.H4.title._primary._fwsemibold #{o.top.title}
            if o.top.link
              +e.link
                +a-arrow(o.top.link)

        if o.inner
          +e.inner(class=`${o.inner.className || ''}`)
            if o.inner.description
              +e.H4.description._big._centered #{o.inner.description}
            if o.inner.data
              +e.data !{o.inner.data}
            if o.inner.slot
              +#{o.inner.slot.name}(o.inner.slot.props || {})
