mixin b-toggle(o = {})

  .b-toggle(class=`${o.className || ''}`)
    label.b-toggle__wrapper
      input.b-toggle__input(
      class=`${o.inputClassName || ''}`,
      type=`${o.type || ''}`,
      checked=!!o.checked,
      value=o.value || '',
      disabled=!!o.disabled,
      name=o.name || '')&attributes(o.attributes || {})
      span.b-toggle__element
      if o.text
        h4.b-toggle__text #{o.text}
