mixin b-description(o = {})

  +b.b-description
    +e.inner
      +e.content
        if o.title
          +e.H2.title._primary._big._fwlight #{o.title}
        +e.P.content-inner !{o.content}
      +e.image-wrapper
        +e.image(src=`${ROOT_FOLDER}/${IMAGES_FOLDER}/${o.image.src}.jpg`,
        alt=`${o.image.alt}`,
        data-object-fit='cover',
        data-object-position='center')
