mixin pr-project(o = {})

  +b.pr-project(href=`projects/${o.href}.html`)
    +e.ARTICLE.inner
      +e.layout(src=`${ROOT_FOLDER}/${IMAGES_FOLDER}/projects/${o.layout}.jpg`,
      alt=`${o.description}`,
      data-object-fit="cover",
      data-object-position="center")
      +e.description !{o.description}

