mixin pr-product(o = {})

  +b.pr-product(class=`${o.className || ''}`, href=`${o.href}`, target="_blank", rel="noopener")
    +e.ARTICLE.inner
      if o.layout
        +e.layout(src=`${ROOT_FOLDER}/${IMAGES_FOLDER}/products/${o.layout}.jpg`, alt=`${o.title}`, data-object-fit="cover", data-object-position="center")
      +svg({
        name: `logo-${o.logo}`,
        title: o.title,
        className: 'pr-product__logo'
      })
      +e.content
        +e.title #{o.title}
        +e.description #{o.description}